/* color palette for dark modern theme */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
:root {
  --vt-c-dark-bg: #ffffff;
  --vt-c-dark-bg-soft: #ffffff;
  --vt-c-dark-bg-mute: #2c2c2c;

  --vt-c-dark-text: #1f1f1f;
  --vt-c-dark-text-soft: #525252;
  --vt-c-dark-text-mute: #808080;

  --vt-c-primary: #bb86fc;
  --vt-c-secondary: #03dac6;
  --vt-c-accent: #ff0266;

  --vt-c-divider-dark-1: rgba(255, 255, 255, 0.12);
  --vt-c-divider-dark-2: rgba(255, 255, 255, 0.08);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-dark-bg);
  --color-background-soft: var(--vt-c-dark-bg-soft);
  --color-background-mute: var(--vt-c-dark-bg-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-dark-text);
  --color-text: var(--vt-c-dark-text-soft);

  --color-primary: var(--vt-c-primary);
  --color-secondary: var(--vt-c-secondary);
  --color-accent: var(--vt-c-accent);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: linear-gradient(
          135deg,
          var(--vt-c-secondary) 15%,
          var(--vt-c-secondary) 15%,
          var(--color-background) 15%,
          var(--color-background) 85%,
          var(--vt-c-secondary) 85%,
          var(--vt-c-secondary) 100%
  );
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}

button {
  background-color: var(--color-primary);
  color: var(--vt-c-dark-bg);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--color-secondary);
}